<div id="component1">
    <h1> T I C K E T : C O N F I R M A T I O N</h1>
    <h6>Your ticket is submitted !</h6>
    <div class="block">
        <div>
            <table>
                <tr>
                    <td class="alligntext">Request Type : </td>
                    <td class="allignres"> {{ticket.reqType}}</td>
                </tr>
                <tr>
                    <td class="alligntext">Priority : </td>
                    <td class="allignres"> {{ticket.priority}}</td>
                </tr>
                <tr>
                    <td class="alligntext">Travel City :</td>
                    <td class="allignres"> {{ticket.travelCity}}</td>
                </tr>
                <tr>
                    <td class="alligntext">Location City :</td>
                    <td class="allignres"> {{ticket.locationCity}}</td>
                </tr>
                <tr>
                    <td class="alligntext">Travel Date :</td>
                    <td class="allignres"> {{ticket.travelDate}}</td>
                </tr>
                <tr>
                    <td class="alligntext">Travel End Date :</td>
                    <td class="allignres"> {{ticket.travelEndDate}}</td>
                </tr>
                <tr>
                    <td class="alligntext">Passport :</td>
                    <td class="allignres"> {{ticket.passport}}</td>
                </tr>
                <tr>
                    <td class="alligntext">Project Name :</td>
                    <td class="allignres"> {{ticket.projectName}}</td>
                </tr>
                <tr>
                    <td class="alligntext">Expense Borne By :</td>
                    <td class="allignres"> {{ticket.expenseBorne}}</td>
                </tr>
                <tr>
                    <td class="alligntext">Travel Approved By :</td>
                    <td class="allignres"> {{ticket.travelAppr}}</td>
                </tr>
                <tr>
                    <td class="alligntext">Expected Duration :</td>
                    <td class="allignres"> {{ticket.expectedDur}}</td>
                </tr>
                <tr>
                    <td class="alligntext">Travel Upper Bound:</td>
                    <td class="allignres"> {{ticket.travelAmm}}</td>
                </tr>
                <tr>
                    <td class="alligntext">Any Other Details :</td>
                    <td class="allignres"> {{ticket.addDetails}}</td>
                </tr>
            </table>
            <br>
        </div>
        <div class="col-md-8 buttonscls button-group">
            <div class="row">
                <div class=" col-sm-3 text-center p-1 col">
                    <a (click)="printComponent('component1')" class="btn btn-default btn-rounded mb-4 btn-secondary">
                     Print</a>
                </div>
                <div class="col-sm-2 text-center p-1 col">
                    <a (click)="editDoc()" class="btn btn-default btn-rounded mb-4 btn-secondary">
                     Edit</a>
                </div>
                <div class="col-sm-7 text-center p-1 col">
                    <a (click)="onSubmit()" class="btn btn-default btn-rounded mb-4 btn-secondary">
                     Return to Home Page</a>
                </div>
            </div>
        </div>
    </div>
</div>