tr {
    text-align: center;
}

th {
    font-size: 20px;
}

.my-pagination .ngx-pagination .current {
    background: red;
}

.paging {
    position: absolute;
    top: 80%;
    font: outline;
    font-weight: 200;
    font-size: larger;
    font-style: bold;
}