<div class="w3-content w3-section" style="max-width:500px">


</div>

<div class="slide-wrap">

    <div class="slider">
        <div class="slide" id="slide-1">
            <img class="mySlides" src="../../assets/images/pic1.jpg" style="width:100%">

        </div>
        <div class="slide" id="slide-2">
            <img class="mySlides" src="../../assets/images/pic2.jpg" style="width:100%">
        </div>
        <div class="slide" id="slide-3">
            <img class="mySlides" src="../../assets/images/pic3.jpg" style="width:100%">

        </div>
        <div class="slide" id="slide-4">
            <img class="mySlides" src="../../assets/images/pic4.jpg" style="width:100%">

        </div>
        <div class="slide" id="slide-5">
            <img class="mySlides" src="../../assets/images/pic5.jpg" style="width:100%">

        </div>
    </div>

</div>