header {
    background: black;
    }
    .logo {
    font-weight: bold;
    }
    
    nav {
    justify-self: right;
    }
    ul {
    list-style-type: none;
    margin: 0; padding: 0;
    }
    li {
    float: left;
    }
    a {
    padding: 1.5em;
    text-transform: uppercase;
    font-size: .8em;
    }
    a:hover {
    background: rgb(61, 6, 6);
    color: whitesmoke;
    }

    .applogo{
        float: left;
        width: 12%;
        background: whitesmoke;
    }
    .banner{
        width: 100%;
        height: 100%;
    }

    
    
    