<!-- <img [src]="imagePath" class="applogo" /> -->
<!--Property Binding-->
<div class="container">
    <!-- <a routerLink="/" class="logo">{{appTitle}}</a> -->
    <nav>
        <ul>
            <!-- <li><a routerLink="/">Home</a></li> -->
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/sign-up">Sign up</a></li>
            <!-- <li><a routerLink="/contact-us">Contact Us</a></li> -->
            <!-- <li><a routerLink="/about">About</a></li> -->
            <!-- <li class="nav-item"> -->
            <!-- <a *ngIf="loginService.isUserLoggedIn()" routerLink="/about" class="nav-link" routerLinkActive="active">Add Product</a> -->
            <!-- </li> -->
        </ul>
    </nav>
</div>